In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [5]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [6]:
df.head

<bound method NDFrame.head of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2024-01-01 00:57:55   2024-01-01 01:17:43              1.0
1               1  2024-01-01 00:03:00   2024-01-01 00:09:36              1.0
2               1  2024-01-01 00:17:06   2024-01-01 00:35:01              1.0
3               1  2024-01-01 00:36:38   2024-01-01 00:44:56              1.0
4               1  2024-01-01 00:46:51   2024-01-01 00:52:57              1.0
...           ...                  ...                   ...              ...
2964619         2  2024-01-31 23:45:59   2024-01-31 23:54:36              NaN
2964620         1  2024-01-31 23:13:07   2024-01-31 23:27:52              NaN
2964621         2  2024-01-31 23:19:00   2024-01-31 23:38:00              NaN
2964622         2  2024-01-31 23:07:23   2024-01-31 23:25:14              NaN
2964623         1  2024-01-31 23:58:25   2024-02-01 00:13:30              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 1.72         1.0                  N           186
1                 1.80         1.0                  N           140
2                 4.70         1.0                  N           236
3                 1.40         1.0                  N            79
4                 0.80         1.0                  N           211
...                ...         ...                ...           ...
2964619           3.18         NaN               None           107
2964620           4.00         NaN               None           114
2964621           3.33         NaN               None           211
2964622           3.06         NaN               None           107
2964623           8.10         NaN               None           138

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                  79             2        17.70   1.00      0.5        0.00
1                 236             1        10.00   3.50      0.5        3.75
2                  79             1        23.30   3.50      0.5        3.00
3                 211             1        10.00   3.50      0.5        2.00
4                 148             1         7.90   3.50      0.5        3.20
...               ...           ...          ...    ...      ...         ...
2964619           263             0        15.77   0.00      0.5        2.00
2964620           236             0        18.40   1.00      0.5        2.34
2964621            25             0        19.97   0.00      0.5        0.00
2964622            13             0        23.88   0.00      0.5        5.58
2964623            75             0        32.40   7.75      0.5        7.29

         tolls_amount  improvement_surcharge  total_amount  \
0                0.00                    1.0         22.70
1                0.00                    1.0         18.75
2                0.00                    1.0         31.30
3                0.00                    1.0         17.00
4                0.00                    1.0         16.10
...               ...                    ...           ...
2964619          0.00                    1.0         21.77
2964620          0.00                    1.0         25.74
2964621          0.00                    1.0         23.97
2964622          0.00                    1.0         33.46
2964623          6.94                    1.0         55.88

         congestion_surcharge  Airport_fee
0                         2.5          0.0
1                         2.5          0.0
2                         2.5          0.0
3                         2.5          0.0
4                         2.5          0.0
...                       ...          ...
2964619                   NaN          NaN
2964620                   NaN          NaN
2964621                   NaN          NaN
2964622                   NaN          NaN
2964623                   NaN          NaN

[2964624 rows x 19 columns]>